{:server {:host "localhost"
          :port 8080
          :daemon? true
          :join? false}
 :client {:url "http://localhost:5000"
          :connection-manager {:threads 1
                               :timeout 60}}}